body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

#home {
  position: relative;
  background: url(../img/mountains.jpg) no-repeat center -20% / cover;
  background-repeat: no-repeat;
  min-height: 600px;
}

.overlay {
  background: rgba(50, 146, 166, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .mb-resp {
    margin-bottom: 1rem;
  }
}

#accordion a {
  text-decoration: none;
  color: #000;
}

#accordion i {
  background: #000;
  color: #fff;
  padding: 3px;
}

#authors img {
  margin-top: -30px;
}

#authors .card:hover {
  background: #3292a6;
  color: #fff;
}

#main-footer p {
  margin-right: 200px;
}
